/.vs/*
/Avalonia.DataGrid
/AvaloniaApplication1/bin/Debug/netcoreapp*/*.dll
/AvaloniaApplication1/bin/Debug/netcoreapp*/*.pdb
/AvaloniaApplication1/obj
/audio.sql
/DataGrid
*.log
*.dll
*.dylib
*.so
*.exe
/WindowsUsbWatcher/obj/Debug/netcoreapp2.1/*.cache
*.pdb
/WindowsUsbWatcher/obj
WindowsUsbWatcher/obj/project.assets.json
